.batuqueiros {
    margin: 50px 0px;
}

.borda__batuqueiros {
    background: #FFFFFF;
    box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.1), -4px -4px 11px 2px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    width: 310px;
    height: 420px;
}

.box__imagem-batuqueiros {
    max-width: 309px;
    max-height: 205px;
    overflow: hidden;
}

.imagem__batuqueiros {
    width: 100%;
}

.titulo_batuqueiros {
    font-size: 24px;
    font-weight: 700;
}

.texto__batuqueiros {
    font-size: 24px;
    margin: 10px 15px;
}

.descricao__batuqueiros {
    font-size: 16px;
    font-weight: 500;
}

@media  only screen and (min-device-width: 768px){    
    .batuqueiros__conteudo{
        display: flex;
        flex-wrap: wrap;
        margin: 0 48px;
    }

    .flex__batuqueiros {
        display: flex;
        flex-wrap: wrap;
        max-width: 890px;
        margin: 0px auto;
    }
}

@media  only screen and (min-device-width: 1024px){    
    .borda__batuqueiros {
        width: 282px;
        height: 420px;
    }
}