.container__background {
    font-size: 1.05rem;
    color: #FFFFFF;
}

.background__hero {
    background: linear-gradient(112.47deg, #18648E 35.74%, #C80BCA 130%);
    mix-blend-mode: multiply;
    filter: brightness(60%);
    left: -128px;
    height: 377px;
    top: 71px;
}

.imagem__background {
    background-image: url(../img/bg-secao-hero.jpeg);
    background-size: cover;
    height: 100%;
    left: -40px;
    position: relative;
    -webkit-mask-image: linear-gradient(to top, transparent 3%, black 200%);
    width: 100%;
}

.descricao__background {
    position: absolute;
    margin: 0 24px;
    text-align: left;
    top: 7.6875rem;
}

.descricao__background h1{
    font-size: 1.5em;
    margin: 24px 0;
    line-height: 1.7rem;
}

.descricao__background p{
    font-size: 1rem;
}

.botao__video {
    background: #BF1260;
    border: solid #BF1260;
    border-radius: 6.25px;
    display: flex;
    height: 36.5px;
    margin: 16px 0 0 24px;
    position: absolute;
    top: 350px;
    width: 143.73px;
    justify-content: center;
}

.play__video {
    font-size: 0.9rem;
    line-height: 2.375;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uil-play-circle {
    font-size: 2rem;
    margin-right: 4px;
}

@media  only screen and (min-device-width: 768px){    
    .descricao__background{
        width: 60%;
        margin-top: 97px;
    }

    .descricao__background h1{
        font-size: 2em;
        margin: 24px 0;
        line-height: 1.7rem;
    }
    
    .descricao__background p{
        font-size: 1.125rem;
    }

    .background__hero{
        height: 441px;
    }

    .botao__video{
        margin-top: 97px;
    }
}

@media  only screen and (min-device-width: 1024px){    
    .descricao__background{
        width: 60%;
        margin-top: 137px;
        margin-left: 120px;
    }

    .descricao__background h1{
        font-size: 48px;
        margin: 24px 0;
        line-height: 1.7rem;
        margin-bottom: 3rem;
    }
    
    .descricao__background p{
        font-size: 24px;
        width: 690px;
        margin-bottom: 8rem;
    }

    .background__hero{
        height: 838px;
    }

    .botao__video{
        margin-top: 200px;
        margin-left: 120px;
    }
}

