.body {
    overflow-x: hidden;
}

.sombra__secao {
    color: #282828;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    opacity: 12%;
}

.titulo__secao{
    color: #282828;
    font-size: 2rem;
    line-height: 39px;
    text-align: center;
    top: -25px;
    position: relative;
    font-weight: normal;
}

.pilares {
    color: #282828;
    font-weight: 600;
    position: relative;
    text-align: center;
    top: -30px;
    font-weight: normal;
}