.sobre {
    margin: 50px 0px;
}

.borda__sobre {
    border: 1px solid rgba(40, 40, 40, 0.5);
    border-radius: 5px;
    height: 241px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 10px 18px;
    width: 312px;
}

.titulo__sobre {
    color: #BF1260;
    font-weight: 800;
    font-size: 26px;
    padding: 18px 0px;
    text-align: center;
}

.texto__sobre {
    color: #282828;
    font-weight: 500;
}