.sobre {
    margin: 50px 0px;
}

.sombra__secao {
    color: #282828;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    opacity: 12%;
}

.titulo__secao {
    color: #282828;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    top: -25px;
    position: relative;
}