.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 21px 0px;
}

.borda__sobre {
    border: 1px solid rgba(40, 40, 40, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    height: 241px;
    width: 312px;
    margin: 0 24px;
    margin-bottom: 24px;
    padding: 10px 18px;
}

.titulo__sobre {
    color: #BF1260;
    font-weight: 800;
    font-size: 26px;
    padding: 18px 0px;
    text-align: left;
}

.texto__sobre {
    color: #282828;
    font-size: 14px;
}

.uil-bullseye, .uil-eye, .uil-heart{
    color: #74B9DF;
    font-size: 1.75rem;
    margin-right: 4px;
}

@media  only screen and (min-device-width: 768px){    
    .sobre__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 21px 40px;align-content: center;
    }

    .borda__sobre {
        margin: 0 16px 16px 0;
    }
    
}

